* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh;
	/* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	display: flex;
	color: white;
	margin: 20px;
}

.reel-header div {
	display: flex;
	gap: 10px;
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	background-color: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
}

footer div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer div i {
	font-size: 25px;
}

footer div span {
	font-size: 10px;
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	display: flex;
	flex-direction: column;
	color: white;
	gap: 20px;
	align-items: center;
}

.sidebar div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebar div i {
	font-size: 25px;
}

.logo {
	width: 40px;
	border-radius: 50%;
	border: 1px solid white;
}

.logo-wrapper {
	position: relative;
}

.logo-wrapper::after {
	content: "+";
	position: absolute;
	bottom: -12px;
	right: 8px;
	width: 22px;
	height: 22px;
	background: red;
	border-radius: 50%;
	text-align: center;
}

/* Descrizione */
.description {
	position: absolute;
	left: 0;
	bottom: 60px;
	color: white;
	margin: 10px;
}

.description p:first-of-type {
	font-size: 12px;
	margin-bottom: 10px;
}

/* bonus */
.notifica {
	position: relative;
	opacity: 0.3;
}

.notifica::after {
	content: "";
	position: absolute;
	top: -4px;
	right: -8px;
	width: 8px;
	height: 8px;
	background: red;
	border-radius: 50%;
}

.reel-header div span:last-child {
	border-bottom: 2px solid;
}

.reel-header div span:first-child {
	opacity: 0.3;
}

.message {
	position: relative;
}

.message::after {
	content: "19";
	position: absolute;
	top: -5px;
	right: 5px;
	width: 30px;
	height: 20px;
	background: red;
	border-radius: 50%;
	text-align: center
}

.bi-plus-square-fill::before {
	border-left: 3px solid rgb(0 255 255);
	border-right: 3px solid rgb(255 0 255);
	border-radius: 5px;
	font-size: 35px;
	transform: scaleY(0.7);
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
/* .debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
} */

/* --------------------- */